Opdracht 1 - Anypoint/src/main/mule/bussimulator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="d07e01a3-a6c5-4f4a-b73f-ef635fcc8a1c" >
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="bussimulatorFlow" doc:id="f17189b3-63a3-491c-bf46-f0649e640a49" >
		<jms:listener doc:name="On New Message" doc:id="63902ac1-1d5d-460e-90a0-33dff45d426a" destination="BUSQUEUE" config-ref="JMS_Config" inboundContentType="application/xml" ackMode="AUTO">
		</jms:listener>
		<foreach doc:name="For Each" doc:id="b153c22a-098f-4db4-a0b3-586cd2045b2a" collection="#[payload.Bericht.ETAs]">
			<ee:transform doc:name="Transform Message" doc:id="232dd6c2-be46-48d6-88e5-c0776542e66d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	tijd: vars.rootMessage.payload.Bericht.tijd,
	aankomsttijd: vars.rootMessage.payload.Bericht.ETAs[vars.counter - 1].aankomsttijd,
	lijnNaam: vars.rootMessage.payload.Bericht.lijnNaam,
	busID: vars.rootMessage.payload.Bericht.busID,
	bedrijf: vars.rootMessage.payload.Bericht.bedrijf,
	eindpunt: vars.rootMessage.payload.Bericht.eindpunt
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="51d15418-3dcb-4541-aea0-7c3062d810cc" message='#["IB:" ++ vars.rootMessage.payload.Bericht.ETAs.ETA.halteNaam ++ ":" ++ 
vars.rootMessage.payload.Bericht.ETAs.ETA.richting as String]' />
			<logger level="INFO" doc:name="Logger" doc:id="cb02d62a-ccb8-46b0-9f12-60863cc894c6" message="#[payload]"/>
			<jms:publish doc:name="Publish" doc:id="b05c7c22-89d2-49f6-a077-61d1c648ee63" config-ref="JMS_Config" destination='#["IB:" ++ vars.rootMessage.payload.Bericht.ETAs[vars.counter - 1].halteNaam ++ ":" ++ 
vars.rootMessage.payload.Bericht.ETAs[vars.counter - 1].richting as String]' />
		</foreach>
	</flow>
</mule>
